h1 {
  font-weight: bold;
  font-family: 'Oswald', arial;
  text-align: left;
  font-size: 1.8em;
  padding-top: 10px;
  
}
h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
}

.footername {
  font-size: 1.3em;
  width: 250px;
  height: 40px;
  text-align: left;
}

p {
  width: 900px;
  margin:auto;
  line-height: 1.5em;
  font-size: 1.14em;
  text-indent: 25px;
  text-align:justify;
  padding-top: 30px;
}
header {
  /* display: flex; */
  height: 50px;
  width:900px;
  padding: 25px 0px 20px 0px;
  border-bottom: red solid 5px;
}
body {
  text-align: center;
  margin: 0px 10% 0px 10%;
}
footer {

}

.faded {
  text-align: center;
  padding: 0px;
}

footer article {
  /* display: flex; */
  height: 90px;
  width: 900px;
  margin: 25px 0px 80px 0px;
}

footer img {
  margin-bottom: 30px;
}

button {
  background-color: rgb(188,112,88);
}
#recipe {
  background-image: url(chocolatePizzaAssets/lab-assets/list-bg.png);
  width:835px;
  height: 265px;
  /* display:flex; */
  padding:40px 0px 0px 65px;
  margin:auto;

}
ul {
  text-align:left;
  font-size: 1.5em;
  line-height: 30px;
  font-family: 'Delius', sans-serif;
  max-height: 200px;
}
#column1 {
  width: 40%;
}
#column2 {
  width:45%;
}
.kookyText {
  font-size: 0.5em;
  padding: 0px;
  width: 200px;
  text-align: justify;
  position: relative;
  top: 1px;
  left: 1px;
  text-indent: 0px;
}
#socials {
  /* display: flex; */
  width: 220px;
  margin-left: 465px; 
  margin-top: 15px;
}
.socialimage {  
  height: 24px;
  width: 24px;
  padding: 1px
}

#pint {
  padding: 1px 9px 1px 0px;
  height: 24px;
  width: 24px;
}

#white {
  height: 24px;
  width: 24px;
  padding: 1px 1px 1px 0px;
}

#blogTitle {
  width: 220px;
  height: 50px;
  text-align: left;
}

#blogTitle img {
  float: left;
  }
#pizza {
  float: right;
}

.greyText {
  padding: 1px;
  text-align: left;
  text-indent: 0px;
  font-size: .70em;
}

.print {
  float: right;
  width: 200px;
  padding: 0px;
  text-align: right;
}

button {
  float: right;
  width: 185px;
  height: 55px;
}